<article class="project">
  {% if include.project.link %}
    <a href="{{ include.project.link }}">
  {% endif %}
    {% if include.project.video %}
      <figure class="mb1">
        <video autoplay loop muted alt="{{ include.project.title }}" src="{{ include.project.video | relative_url }}"></video>
      </figure>
      {% else %}
        {% if include.project.image.first %}
          <div class="image-grid">
            {% for image in include.project.image %}
              <img alt=" {{ include.project.title }}" src="{{ image | relative_url }}" />
            {% endfor %}
          </div>
        {% else %}
        <figure class="mb1">
          <img alt=" {{ include.project.title }}" src="{{ include.project.image | relative_url }}" />
        </figure>
        {% endif %}
      {% endif %}
  {% if include.project.link %}
    </a>
  {% endif %}

  <div class="project-info">
    <h3>
      {% if include.project.link %}
      <a href="{{ include.project.link }}">{{ include.project.hed }}</a>
      {% else %}
        {{ include.project.hed }}
      {% endif %}
    </h3>
    <p class="publisher grey mb0"><em>{{ include.project.newspaper }}</em></p>
    <p class="time grey">
      <time>{% assign d = include.project.date | date: "%-d" %}  {% assign m = include.project.date | date: "%B" %} {% case m %}
{% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
{% when 'September' %}Sept.
{% else %}{{ include.project.date | date: "%b" }}.
{% endcase %}{% case d %}
{% when '1' or '21' or '31' %}{{ d }}st
{% when '2' or '22' %}{{ d }}nd
{% when '3' or '23' %}{{ d }}rd
{% else %}{{ d }}th{% endcase %} {{ include.project.date | date: "%Y" }}</time>
    </p>
    <!-- {% if include.project.role %}
    <p class="role grey">
      {{ include.project.role | markdownify | remove: '<p>' | remove: '</p>' }}
    </p>
    {% endif %} -->

    {% if include.project.coauthors %}
    <p class="coauthors grey">
      With {{ include.project.coauthors | markdownify | remove: '<p>' | remove: '</p>' }}
    </p>
    {% endif %}
    <!-- <div class="block">
      {{ include.project.content | markdownify }}
    </div> -->
  </div>
</article>